* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    background-color: #174180;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    position: relative;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.nav-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 20px;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
}

.nav-link:hover:after {
	content: "";
    width: calc(100% - 40px);
    display: block;
    position: absolute;
    left: 20px;
    bottom: -3px;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
}

.main-wrapper {
    display: flex;
}

.first-column {
    background-color: #174180;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 500px;
}

h1 {
    margin-top: 15px;
    font-style: normal;
    font-size: 32px;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 22px;
}

.first-column-title {
    color: #56CCF2;
}

.second-column-title {
    color: #174180;
}

.second-column {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.profile {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 10px;
    color: #fff;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
    width: 150px;
}


.name {
    font-weight: 400;
}

.surname {
    font-weight: 800;
}

.profile>span {
    font-weight: 400;
    font-size: 22px;
    line-height: 19px;
}

.contacts {
    margin-top: 30px;
}

.contacts-list {
    margin-top: 10px;
}

.contacts-list * {
    margin-top: 5px;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    color: #56CCF2;
    text-decoration: none;
}

.contacts-item {
    position: relative;
    padding-left: 30px;
}

.contacts-item:first-child:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(./assets/mail.svg);
    background-size: 20px 20px;
}

.contacts-item:nth-child(2):before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(./assets/phone.svg);
    background-size: 20px 20px;
}

.contacts-item:nth-child(3):before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(./assets/marker.svg);
    background-size: 20px 20px;
}

.summary {
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
}

.skills, .languages, .code {
    margin-top: 30px;
}

.skills-list, .languages-list, .education-list {
    margin-top: 10px;
}

.skills-list *, .languages-list * {
    margin-top: 5px;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.education-list *, .code-list *, .projecs-list * {
    margin-top: 5px;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    color: #828282;
    text-decoration: none;
}

.languages-item>span {
    color: #828282;
    font-size: 16px;
}

.education-item>span, .bold {
    color: #4F4F4F;
    font-weight: 600;
}

.courses-item {
    padding-left: 70px;
}

.courses-link, .projects-link {
    position: relative;
}

.courses-link:after, .projects-link:after {
	content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #828282;
    transition: width 0.5s;
}

.courses-link:hover:after, .projects-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    bottom: -3px;
    height: 2px;
    background-color: #828282;
    transition: width 0.5s;
}

pre {
    padding: 0;
    margin: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 60px;
    background-color: #174180;
    color: #fff;
}

.github-link {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(./assets/icon-github.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
}

.rss {
    display: block;
    width: 121px;
    height: 45px;
    background-image: url(./assets/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}