* {
    box-sizing: border-box;
    /* margin: 0; */
    /* padding: 0; */
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    background-color: #174180;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    position: relative;
    text-decoration: none;
    padding: 0 20px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.nav-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 20px;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
}

.nav-link:hover:after {
	content: "";
    width: calc(100% - 40px);
    display: block;
    position: absolute;
    left: 20px;
    bottom: -3px;
    height: 2px;
    background-color: #fff;
    transition: width 0.5s;
}

.main-wrapper {
    display: flex;
}

.first-column {
    border: 1px solid #000;
    flex-grow: 1;
    background-color: #174180;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding-left: 30px;
}

h1 {
    margin-top: 15px;
    font-style: normal;
    line-height: 27px;
    font-size: 32px;
}

h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
}

.fist-column-title {
    color: #56CCF2;
}

.second-column-title {
    color: #174180;
}

.second-column {
    border: 1px solid #000;
    flex-grow: 3;
    padding-top: 45px;
    padding-left: 30px;
}

.hero {
    display: flex;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 10px;
    color: #fff;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 150px;
}


.name {
    font-weight: 400;
}

.surname {
    font-weight: 800;
}

.hero>span {
    margin-top: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
}

.contacts {
    margin-top: 30px;
}

.contacts-list {
    margin-top: 10px;
}

.contacts-list * {
    margin-top: 5px;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: #56CCF2;
    text-decoration: none;
}

/* .contacts-item:first-child:before {
    content: "";
    width: 21px;
    height: 21px;
    background-image: url(./assets/mail.svg);
    background-size: contain;
    background-repeat: no-repeat;
} */

.about-me {
    margin-top: 30px;
    max-width: 500px;
    font-size: 16px;
    color: #fff;
}

.skills, .languages, .code-example {
    margin-top: 30px;
}

.skills-list, .languages-list, .education-list {
    margin-top: 10px;
}

.skills-list *, .languages-list * {
    margin-top: 5px;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.education-list *, .code-example-list * {
    margin-top: 5px;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    color: #828282;
    text-decoration: none;
}

.education-item>span, .bold {
    color: #4F4F4F;
    font-weight: 600;
}

.courses-item {
    padding-left: 70px;
}

pre {
    padding: 0;
    margin: 0;
}

.footer-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 60px;
    background-color: #174180;
    color: #fff;
}

.github-link {
    display: block;
    width: 48px;
    height: 48px;
    background-image: url(./assets/icon-github.svg);
    background-size: contain;
    background-repeat: no-repeat;
    color: #fff;
    text-decoration: none;
}

.rss {
    display: block;
    width: 121px;
    height: 45px;
    background-image: url(./assets/rs_school_js.svg);
    background-size: contain;
    background-repeat: no-repeat;
}